@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap");

:root {
  --primary-color: rgb(88, 177, 255);
}

body {
  background: rgb(225, 241, 255);
  margin: 0;
  font-family: "Poppins";
}

.navbar {
  background: aliceblue;
  padding: 1em;
  height: 5em;
  padding-bottom: 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5em;

    .logo {
      text-decoration: none;
      color: black;
      font-size: 2.7em;
      display: flex;
      justify-content: left;

      span {
        color: var(--primary-color);

        &:hover {
          color: orange;
        }
      }
    }
    ul.primary-nav {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      padding-left: 10em;
      width: 85%;
      padding-bottom: 0;
      cursor: pointer;

      a {
        text-decoration: none;
        color: black;
        
        &:hover{
          color: var(--primary-color)
        }
      }
    }
    ul.secondary-nav {
      list-style: none;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 20%;
      padding-right: 2em;
      margin: 0;
      margin-top: 15px;

      #insta-logo {
        height: 2em;
        width: 2em;
        // margin-top: 2px;
        cursor: pointer;
      }

      #fb-logo {
        height: 2em;
        width: 2em;
        cursor: pointer;
      }

      #spot-logo {
        height: 1.5em;
        width: 1.5em;
        margin-bottom: 4px;
        cursor: pointer;
      }
    }
  }
}

section.hero {
  .container {
    h1 {
      display: flex;
      justify-content: center;

      span#average {
        color: orange;
      }
    }
    .hero-cta {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      width: 66%;
      margin-left: 15em;
      margin-right: 20em;
      // border: solid;
    }

    .button {
      height: 4em;
      width: 15em;
      padding: 1em;
      border-radius: 5em;
      cursor: pointer;
      background: var(--primary-color);
      color: rgb(230, 230, 230);
      font-weight: bold;
      font-size: 1em;
      border: 0;

      &:hover {
        background: aliceblue;
        color: black;
      }
    }

    .sub-head {
      display: flex;
      justify-content: center;
      // border: solid;
    }

    .video-cta {
      padding-left: 12.5%;
      padding-bottom: 2em;
    }
  }
  .home-pic {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    // border: solid;
  }
}

.footer {
  background: rgb(208, 233, 255);
  margin: 0;
  height: 10em;

  .footer-navbar {
    padding: 1em;
    padding-bottom: 0;

    .footer-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 1.5em;

      .footer-logo {
        text-decoration: none;
        color: black;
        font-size: 2.3em;
        display: flex;
        justify-content: left;

        span {
          color: var(--primary-color);

          &:hover {
            color: orange;
          }
        }
      }

      ul.footer-primary-nav {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 1rem;
        cursor: pointer;

        a {
          text-decoration: none;
          color: black;
          &:hover {
            color: var(--primary-color);
          }
        }
      }
      .footer-input {
        display: flex;
        flex-direction: column;

        label {
          display: block;
        }

        #email {
          margin-bottom: 0.5em;
          border-radius: 4px;
        }
        #submit-button {
          background-color: var(--primary-color);
          border: 1px;
          border-radius: .25em;
          width: 60%;
          margin-left: 17.5%;
          cursor: pointer;

          &:hover {
            background: aliceblue;
            color: black;
          }
        }
      }
      ul.footer-secondary-nav {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20%;
        padding-right: 2em;
        padding-top: 1.5em;
        margin: 0;
        margin-top: 15px;

        label {
          display: block;
        }

        #footer-insta-logo {
          height: 4em;
          width: 4em;
          // margin-top: 2px;
          cursor: pointer;
        }

        #footer-fb-logo {
          height: 4em;
          width: 4em;
          cursor: pointer;
        }

        #footer-spot-logo {
          height: 3em;
          width: 3em;
          margin-bottom: 4px;
          cursor: pointer;
        }
      }
    }
  }
}

.contact-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 66vh;
  width: 100%;
  font-family: 'Poppins';

  .img-div  {
    height: 50vh;
    width: 33vw;
    padding: 2rem;

    img {
      background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZCPjxRRBAJCNKgYc0Fnd2QmOlltSWQMffmQ&usqp=CAU');
      background-size: contain;
      height: 50vh;
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-left: 0;
    margin-right: 1.5rem;
    height: 50vh;
    width: 33vw;


    h1 {
      font-size: 1.5rem;
    }

    input {
      margin-bottom: 0.5rem;
  font-family: 'Poppins';
      border-radius: 4px;

    }

    textarea {
      margin-bottom: 1rem;
  font-family: 'Poppins';
      border-radius: 4px;

    }

    #submit-button {
      background-color: var(--primary-color);
      border: 1px;
      border-radius: .25em;
      width: 60%;
      margin-left: 17.5%;
      cursor: pointer;

      &:hover {
        background: aliceblue;
        color: black;
      }
    }

  }
}


.superman {
  display: flex;
  justify-content: center;
  // padding-top: 1.5em;

  #super-j {
    height: 15em;
  }
}

.about-h1 {
  display: flex;
  justify-content: center;

  span.freaking {
    color: orange;

    &:hover {
      color: var(--primary-color);
    }

  }
  a {
      text-decoration: none;
    }
}

.container1 {
  // border: solid;
  margin: 0;
  padding-bottom: 2em;

  #intro {
    // border: solid;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
  }

  #child {
    // border:solid;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: 25%;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
  }

  #hobby {
    // border:solid;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: 25%;
    padding-bottom: 0.5em;
  }

  #left-playlist {
    // border: solid;
    width: 20%;
    height: 57%;
    padding-left: 2em;
    position: absolute;
    top: 20em;
  }

  #right-playlist {
    // border: solid;
    width: 20%;
    height: 57%;
    padding-right: 2em;
    position: absolute;
    top: 20em;
    right: 0;
  }
}

.product-container {
  padding-bottom: 1.2em;
  .club-pic {
    height: 8em;
    width: 8em;
    padding-bottom: 0.75em;
  }

  p {
    width: 75%;
    float: right;
    margin-right: 2em;
    margin-bottom: 1.816em;
    margin-top: 1.25em;
  }

  span {
    color: orange;

    &:hover {
      color: var(--primary-color);
    }
  }

  a {
    text-decoration: none;

   
  }
  .club {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-left: 4em;
    padding-top: 1.2em;
  }

  .review-input {
    display: flex;
    justify-content: center;

    .club-review {
      border-radius: 4px;
    }
    #submit-btn {
      background: var(--primary-color);
      color: black;
      border-radius: 0.25em;
      border: 1px;
      margin-left: .15em;
      cursor: pointer;

      &:hover {
        background: aliceblue;
        color: black;
      }
    }
  }
}
